*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html,
body {
  margin: 0;
  height: 100%;
  width: 100%;
  background-color: #181818;
}

canvas {
  margin: 0;
  height: 100%;
  width: 100%;
  display: block;
  cursor: default;
  outline: none;
}
